---
---

@font-face {
    font-family: 'social';
    src: url('/assets/fonts/social.woff2') format('woff2'),
         url('/assets/fonts/social.woff') format('woff');
}

#downArrow{
    display: none;
}

html, body{
    margin: 0px;
    padding: 0px;

    font-family: 'social';
    font-size: 20px;
    line-height: 1.5;
}

body{
    background-color: #FEFDF9;
    display: grid;
    grid-template-columns: auto 1fr;
    
}

#leftBar{
    width: calc(20vw - 32px);
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: calc(100vh - 32px);
    overflow: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-right: 2px solid #E08C17;

    em{
        color:#E08C17;
        font-style: normal;
        font-weight: 600;
    }

    p {
        margin-top: 0px;
    }

    #index{
        display: flex;
        flex-direction: column;
        

        div{
            margin-top: 24px;
        }


        #indexTitle{
            text-decoration: underline;
            color: #E08C17;  
        }
        #indexLinks{
            margin-left: 8px;
           
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                text-decoration: underline;
                color: #E08C17;  
            }
        }
    }
}
#mainContent{
    padding: 16px;
    height: calc(100vh - 32px);
    overflow-y: scroll;

    #pageName{
        text-decoration: underline;
            color: #E08C17;  
    }

    #blurb{
        width: 60%;
    }

    .post{
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
        
        img{
            max-width: 100%;
            max-height: 90vh;
            display: block
        }
        iframe{
            width: 48vw;
            height: 27vw;
        }

        .textBox{
            margin-left: 16px;
            width: 30vw;
        }
    }
}


@media (max-width: 800px) {
  html, body {
    font-size: 16px;
  }

  body {
    display: block;
    padding: 0;
  }

  #leftBar {
    width: calc(100vw - 16px);
    height: calc(100svh - 16px);
    border-right: none;
    border-bottom: 2px solid #E08C17;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;
    margin: 0;
  }

  #downArrow {
    position: absolute;
    bottom: 8px;
    right: 16px;
    line-height: 1;
    font-size: 16px;
    color: #E08C17;
    animation: bounce 2s infinite;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  #mainContent {
    padding: 8px;
    height: auto;
    overflow-y: visible;

    #blurb {
      width: 100%;
    }

    .post {
      flex-direction: column;

      img {
        max-width: 100%;
        height: auto;
        max-height: 90vh;
      }
      iframe {
        width: calc(100vw - 16px);
        height: 30vh;
      }

      .textBox {
        margin-left: 0;
        width: 100%;
        margin-top: 8px;
      }
    }
  }

  #index {
    flex-direction: column;
    width: 100%;
    
    div {
      margin-top: 12px;
      
      
    }
  }
  #downArrow{
    display: block;
  }
  #indexLinks a span {
    left: -12px !important;
  }
}
